# exclude roblox data files
*.rbxm
*.rbxl
*.rbxlx

# exclude exported place
place.rbxlx

# if place is open, exclude the lock file
*.rbxlx.lock

# exclude generated selene config
roblox.toml
selene.toml

# exclude luacheck config
.luacheckrc